<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Project</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
    <div id="nav-container">
        <a href="/" class="site-title">Bio Charts v0.3</a>
        <button id="menu-toggle" aria-label="Toggle navigation">
            <span class="burger-icon"></span>
        </button>
        <nav id="main-nav">
            <a href="/">Home (Visualizer)</a>
            <a href="/version-log">Version Log</a>
            <a href="/about">About</a>
        </nav>
    </div>
    </header>

    <main class="content-wrapper">
        <h2>About Bio Chart</h2>
        <p>This project was created to provide a quick, simple and relevant visualization tool for microbiology students and researchers who need an alternative to clunky statistical software.</p>
        
        <h3>Current Roadmap</h3>
        <ul>
            <li>Implementing more data filtering and normalization features.</li>
            <li>Allowing users to save and share specific plot configurations.</li>
        </ul>

        <h3>Wishlist</h3>
        <ul>
            <li>Allowing users to save and share specific plot configurations.</li>
        </ul>
        <p>Developer: Gabriel Moltubakk</p>
        <p>Contact: gabriel.moltubakk@gmail.com</p>
    </main>
</body>

<script>
            document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('menu-toggle');
            const navMenu = document.getElementById('main-nav');

            toggleButton.addEventListener('click', () => {
                navMenu.classList.toggle('active');
            });
        });
</script>

</html>

